*{
	margin: 0;
}
body{
	text-align: center;
	background: lightgreen;
}
h1 {
	color: blue;
	font-size: 50px;
}
h2{
	color: brown;
	font-size: 40px;
}
a {
	text-decoration: none;
}
li {
	float: left;
	list-style-type: none;
	border: 1px solid black;
}
#frontend-align-top-table{

}
.align-li{
    width: 16%;
    font-size: 26px;
}
#content{
	float: left;
	width: 100%;
}
#logout-align{
    font-size: 30px;
    float: right;
    margin-top: -4%;
    margin-right: 10%;
    font-weight: bold;
    color: red;
}
#hi-admin{
	font-size: 40px;
    font-weight: bold;
}
.login-form{
	margin: 1% 0;
}