body{
	text-align: center;
	background: gray;
}
h1 {
	color: blue;
	font-size: 50px;
}
a {
	text-decoration: none;
}
li {
	float: left;
	list-style-type: none;
	border: 1px solid black;
}
#frontend-align-top-table{

}
.align-li{
    padding: 11px 10%;
    font-size: 29px;
}